<div id="update-user" class="modal-content-inside">


    <div class="form-group">
        <div class="col-lg-12">
            <label for="firstname" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>First Name</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" class="form-control"
                       placeholder="Enter First Name" id="user-first-name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <label for="lastname" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Last Name</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" class="form-control"
                       placeholder="Enter Last Name" id="user-last-name">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="username" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Username</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="hidden" class="form-control" placeholder="Enter Username"
                       id="user-name">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="password" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Password</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="hidden" class="form-control"
                       placeholder="Enter Password" id="user-password"
                       autocomplete="new-password">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="conf_pwd" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Confirm Password</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="hidden" class="form-control"
                       placeholder="Confirm Password" id="user-conf-password"
                       autocomplete="new-password">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="email" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Email</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="hidden" class="form-control" placeholder="Enter Email"
                       id="user-email">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="qualification"
                   style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Qualification</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" class="form-control"
                       placeholder="Enter Qualification" id="user-qualification"
                       value="MBBS">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="specialization"
                   style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Specialization</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
            	<input type="text" class="form-control"
                       placeholder="Enter Specialization" id="user-specialization">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="empid" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>ID Number</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" class="form-control"
                       placeholder="Enter ID Number" id="user-employee-id" value="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="empid" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>AADHAR Number</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" maxlength="14" class="form-control"
                       placeholder="Enter Aadhar Number 1234 5678 1234" id="user-aadhaar"
                       value="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="empid" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>PAN Number</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" class="form-control"
                       placeholder="Enter Pan Number ABCDE1234M" maxlength="10"
                       id="user-pan" value="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label for="empid" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>PASSPORT Number</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <input type="text" class="form-control"
                       placeholder="Enter Passport Number P1234567" maxlength="8"
                       id="user-passport" value="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <label style="text-align: left; padding-bottom: 5px;"
                   for="user-phone" class="col-sm-12  control-label"><b>Enter
                Contact Number</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span id="user-phone-prefix" class="input-group-text">+91</span>
                    </div>
                    <input type="text" class="form-control" value="" name="user-phone"
                           id="user-phone" placeholder="Enter Contact Number 9876543210">
                </div>

            </div>
        </div>
    </div>

   <!--  <div class="form-group">
        <div class="col-lg-12">
            <label style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Gender</b></label>
            <div class="col-md-12 ">
                <label class="radio-inline"> <input type="radio"
                                                    name="user-gender" id="male" checked> Male
                </label> <label class="radio-inline"> <input type="radio"
                                                             name="user-gender" id="female"> Female
            </label>
            </div>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <div class="col-lgss-12">
            <label for="OrgUnitList"
                   style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Organization</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <select class="form-control" id="user-org"
                        onchange="loadOrgUnitAlternate(this, 'user-org-unit');">
                    <option>--Select--</option>
                </select>
            </div>
        </div>
    </div>
 -->
   <!--  <div class="form-group">
        <div class="col-lg-12">
            <label for="OrgUnitList"
                   style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Organization Unit</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <select class="form-control" id="user-org-unit"
                        onchange="loadDepartmentListAlternate(this, 'user-org', 'user-department');">
                    <option>--Select--</option>
                </select>
            </div>
        </div>
    </div> -->

   <!--  <div class="form-group">
        <div class="col-lg-12">
            <label for="UserRole" style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Role</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <select class="form-control " id="user-role">
                    <option>--Select--</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group" id="dept_for_creating_user">
        <div class="col-lg-12">
            <label style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Select Department</b></label>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12">
                <select class="form-control" id="user-department">
                    <option>--Select--</option>
                </select>
            </div>
        </div>
    </div> -->

    <!-- <div class="form-group">
        <div class="col-lg-12">
            <label style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Has access across all
                other OU</b></label>
            <div class="col-md-12 ">
                <label class="radio-inline"> <input type="radio"
                                                    name="user-ou-access" id="access_ou_yes"> Yes
                </label> <label class="radio-inline"> <input type="radio"
                                                             name="user-ou-access" id="access_ou_no"
                                                             checked> No
            </label>
            </div>
        </div>
    </div> -->

   <!--  <div class="form-group hideThis">
        <div class="col-lg-12">
            <label style="text-align: left; padding-bottom: 5px;"
                   class="col-sm-12 control-label"><b>Has access across all
                other Organization</b></label>
            <div class="col-md-12 ">
                <label class="radio-inline"> <input type="radio"
                                                    name="user-universal-access"
                                                    id="access_universal_yes"> Yes
                </label> <label class="radio-inline"> <input type="radio"
                                                             name="user-universal-access"
                                                             id="access_universal_no" checked>
                No
            </label>
            </div>
        </div>
    </div> -->
</div>
